.grid--container {
  display: grid;
  grid-template-columns: 25% 50% 25%;
  grid-template-rows: 10% repeat(10, 60px);
  height: 100vh;
}

.grid--button-group {
  grid-column: 2;
  display: flex;
  justify-content: flex-start;
  align-items: center;

  button {
    margin-right: 10px;
  }
}
