

<section class="grid--container">
  <div class="grid--button-group"></div>

  <div class="grid--button-group">
    <button aaBtn size="small">small</button>
    <button aaBtn size="medium"> Medium </button>
    <button aaBtn size="large"> Large </button>
  </div>
  <div class="grid--button-group">
    <button aaBtn color="primary"> default </button>
    <button aaBtn color="secondary"> secondary </button>
    <button aaBtn color="danger"> danger </button>
  </div>

  <div class="grid--button-group">
    <button aaBtn color="primary" icon="camera"> icon </button>
    <button aaBtn color="secondary" icon="search" slot="left"> icon </button>
    <button aaBtn color="danger" icon="star"> icon </button>
  </div>

  <div class="grid--button-group">
    <button aaBtn color="primary" icon="camera">  </button>
    <button aaBtn color="secondary" icon="search">  </button>
    <button aaBtn color="danger" icon="star">  </button>
  </div>
  <div class="grid--button-group">
    <button aaBtn type="outline" color="primary"> outline </button>
    <button aaBtn type="outline" color="secondary"> outline </button>
    <button aaBtn type="outline" color="danger"> outline </button>
  </div>
  <div class="grid--button-group">
    <button aaBtn type="outline" color="primary" icon="camera" slot="left"> outline </button>
    <button aaBtn type="outline" color="secondary" icon="search"> outline </button>
    <button aaBtn type="outline" color="danger" icon="star"> outline </button>
  </div>
  <div class="grid--button-group">
    <button aaBtn type="outline" color="primary" icon="camera">  </button>
    <button aaBtn type="outline" color="secondary" icon="search">  </button>
    <button aaBtn type="outline" color="danger" icon="star">  </button>
  </div>
  <div class="grid--button-group">
    <button aaBtn type="ghost" color="primary"> ghost </button>
    <button aaBtn type="ghost" color="secondary" > ghost </button>
    <button aaBtn type="ghost" color="danger"> ghost </button>
  </div>
  <div class="grid--button-group">
    <button aaBtn type="ghost" color="primary" icon="camera"> ghost </button>
    <button aaBtn type="ghost" color="secondary" icon="search"> ghost </button>
    <button aaBtn type="ghost" color="danger" icon="star"> ghost </button>
  </div>
  <div class="grid--button-group">
    <button aaBtn type="ghost" color="primary" icon="camera">  </button>
    <button aaBtn type="ghost" color="secondary" icon="search">  </button>
    <button aaBtn type="ghost" color="danger" icon="star">  </button>
  </div>
</section>
