$primary-color: #007bff;
$primary-color-hover: #0069d9;
$secondary-color: #ff4383;
$secondary-color-hover: #f52e72;
$danger-color: #d02222;
$danger-color-hover: #bc2121;
$outline-background: white;
$outline-background-hover: #f5f1f1;
